<!DOCTYPE html>
<html>
<head>
    <title>Simple Webshop</title>
</head>
<body>
    <h1>ONE PIECE!</h1>
    <div class="product">
        <a href="/product1"><img src="/static/product1.jpg" width="200" height="200" alt="Product 1"></a>
        <p>Cool Luffy T-shirt </T-shirt></p>
    </div>
    <div class="product">
        <a href="/product2"><img src="/static/product2.jpg" width="200" height="200" alt="Product 2"></a>
        <p>Cool Zoro Hoodie</p>
    </div>
    <div class="product">
        <a href="/product3"><img src="/static/product3.jpg" width="200" height="200" alt="Product 3"></a>
        <p>Luffy's Hat</p>
    </div>
    {% if user_logged_in %}
    <a href="/logout">
        <button>Logout</button>
    </a>
    {% else %}
    <a href="/login">
        <button>Login</button>
    </a>
    {% endif %}
</body>
</html>
