<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <p>Product Name: Luffy's Hat</p>
    <p>Price: $199.99</p>
    <p>Description: The Luffy's Straw Hat is an iconic and timeless accessory inspired by the legendary pirate captain, Monkey D. Luffy, from the popular anime and manga series, "One Piece." Luffy's straw hat holds immense significance as it was originally owned by the former Pirate King, Gol D. Roger. </p>
    <a href="/">Back to the main page</a>
</body>
</html>
