<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <p>Product Name: Trafalgar D. Law - Cum jar <span style="font-weight: 600;">(empty)</span> <span style="font-size: 10px;">hopefully ;D</span></p> 
    <p>Price: $75,833</p>
    <p>Description: Introducing the "Trafalgar D. Law - cum jar," a unique and creative collectible inspired by the popular anime and manga series, One Piece. This limited-edition item pays homage to the enigmatic and skillful pirate surgeon, Trafalgar D. Water Law, in a one-of-a-kind way. Crafted with attention to detail and designed for fans who appreciate both humor and creativity, the Trafalgar D. Law - cum jar is a conversation starter and a must-have for any dedicated One Piece enthusiast.</p>
    <div class="product">
        <img src="/static/Product4.jpg" width="300" height="300" alt="Product 3">
    </div>
    <a href="/">Back to the main page</a>
</body>
</html>